.s-combos {
  padding: 7rem 0;
  .highlights {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3.2rem;
    & > .box {
      width: 26.3rem !important;
      background: $yellow !important;
    }
    .box {
      border-radius: 1.2rem;
      background: $bege;
      width: 21.8rem;
      height: 14.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 0.9rem;
      h3 {
        color: $white;
        text-align: center;
        font-family: "Ubuntu", sans-serif;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: -0.301px;
        text-transform: uppercase;
      }
    }
    ul {
      flex: 1;
      max-width: 92.2rem;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 1.6rem;
    }
  }

  .area-slide {
    position: relative;
    margin-top: 6.2rem;
    .btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 6.6rem;
      height: 6.6rem;
      background: $yellow;
      z-index: 2;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      &.prev{
        left: -3.3rem;
      }
      &.next{
        right: -3.3rem;
        transform: rotate(180deg);
      }
    }
  }
}
