.s-combos {
  padding: 7rem 0;
  .highlights {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3.2rem;
    & > .box {
      width: 26.3rem !important;
      background: $yellow !important;
    }
    .box {
      border-radius: 1.2rem;
      background: $bege;
      width: 21.8rem;
      height: 14.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 0.9rem;
      transition: all 0.3s ease;
      h3 {
        color: $white;
        text-align: center;
        font-family: "Ubuntu", sans-serif;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: -0.301px;
        text-transform: uppercase;
      }
    }
    ul {
      flex: 1;
      max-width: 92.2rem;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 1.6rem;
      li {
        .box {
          &:hover {
            background: $brown;
            cursor: pointer;
            box-shadow: 0px 10px 40px 0px rgba(89, 41, 28, 0.6);
          }
        }
      }
    }
  }

  .area-slide {
    position: relative;
    margin-top: 6.2rem;
    .btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 6.6rem;
      height: 6.6rem;
      background: $yellow;
      z-index: 2;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      &.swiper-button-disabled {
        opacity: 0.8;
        cursor: not-allowed;
      }
      &.prev {
        left: -3.3rem;
      }
      &.next {
        right: -3.3rem;
        transform: translateY(-50%) rotate(180deg);
      }
    }

    .slide-combos {
      overflow: hidden;
      .card-combo {
        width: 100%;
        height: 49.3rem;
        background: $bege;
        border-radius: 0.6rem;
        overflow: hidden;

        &:hover {
          .image {
            & > img {
              transform: scale(1.1);
              cursor: pointer;
            }
          }
        }

        .image {
          position: relative;
          width: 100%;
          height: 34rem;
          overflow: hidden;
          border-bottom: 3px dotted $white;
          & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s ease;
          }

          button {
            position: absolute;
            background: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.8rem;
            height: 3.8rem;
            border-radius: 50%;
            top: 2.5rem;
            right: 2.6rem;
            z-index: 2;
          }
        }
        .info {
          padding: 3.6rem 4.4rem;

          strong {
            color: $brown;
            font-size: 1.6rem;
            font-weight: bold;
            letter-spacing: -0.201px;
            margin-bottom: 1.4rem;
            display: block;
          }
          h3 {
            color: $orange;
            font-family: "Ubuntu", sans-serif;
            font-size: 3.2rem;
            font-weight: bold;
            letter-spacing: 1.477px;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .ctrl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.7rem;
    .swiper-pagination {
      position: relative;
      bottom: 0;
      width: auto;
      &-bullet {
        background: $orange;
        opacity: 0.5;
        &-active {
          opacity: 1;
          background: $orange;
          transform: scale(1.1);
        }
      }
    }
    button {
      display: flex;
      align-items: center;
      gap: 1.4rem;
      &:hover {
        span {
          color: $orange;
        }
      }
      span {
        color: $yellow;
        font-family: "Ubuntu", sans-serif;
        font-size: 1.4rem;
        font-weight: bold;
        letter-spacing: -0.176px;
        text-transform: uppercase;
        transition: color 0.3s ease;
      }
    }
  }
}
